@import "../../scss/variables.scss";

.change-language-container {
  display: inline-block;
  .item {
    line-height: 1;
    padding: 0;
    font-weight: 600;
    cursor: default;
    &:not(.active):hover {
      cursor: pointer;
    }
    &.active {
      color: $primaryColor;
    }
    &.left {
      padding-right: 15px;
      border-right: 1px solid #999;
    }
    &.right {
      padding-left: 15px;
    }
  }
}